In [23]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.9.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [24]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [25]:
driver=webdriver.Chrome(r"C:\User\HP\Desktop\Fliprobo notes\chromedriver.exe")

In [26]:
driver=webdriver.Chrome(r"Chromedriver.exe")

In [27]:
driver.get("https://www.naukri.com/")

In [28]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [29]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Banglore')

In [38]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [39]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [45]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[1:10]:
    title=i.text
    job_title.append(title)
    
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[1:10]:
    location=i.text
    job_location.append(location)
    
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[1:10]:
    company=i.text
    company_name.append(company)
    
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[1:10]:
    exp=i.text
    experience_required.append(exp)

In [46]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

28 28 28 28

In [44]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Tech Data Analyst,"Hybrid - Gurgaon/ Gurugram, Haryana, Bangalore...",Wipro,3-6 Yrs
1,Data Analyst,"Bangalore/ Bengaluru, Karnataka",Artech,5-8 Yrs
2,Data Analyst,Bangalore/Bengaluru,Brunel,4-6 Yrs
3,Celonis & Salesforce Data Analyst,"Chennai, Bangalore/Bengaluru",Hitachi Energy,3-6 Yrs
4,Celonis & Salesforce Data Analyst,Bangalore/Bengaluru,Hitachi Ltd.,2-7 Yrs
5,Data Analyst,Hybrid - Bangalore/Bengaluru,HARMAN,3-5 Yrs
6,Data Analyst,"Hybrid - Bangalore/Bengaluru, Delhi / NCR",Aon,6-9 Yrs
7,Data Analyst,"Hybrid - Bangalore/Bengaluru, Delhi / NCR",Aon,6-9 Yrs
8,Data Analyst,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",Tata Consultancy Services (TCS),5-10 Yrs
9,Data Analyst (Bangalore),Bangalore/Bengaluru,Krazy Mantra,7-12 Yrs
10,Insight Data Analyst,"Noida, Uttar Pradesh, Bangalore/ Bengaluru, Ka...",Vuca Consulting,5-10 Yrs
11,Data Analyst,Bangalore/Bengaluru,The Times Group,3-8 Yrs
12,Data Analyst,Bangalore/Bengaluru,Koch Industries,7-9 Yrs
13,Data Analyst,Bangalore/Bengaluru,Loyalytics Consulting,4-9 Yrs
14,Data Analyst,Bangalore/Bengaluru,Clairvoyant India Pvt. Ltd,3-6 Yrs
15,Data Analyst,Bangalore/Bengaluru,Lowes Services India Private limited,3-5 Yrs
16,Data Analyst,Bangalore/Bengaluru,Aventus Technology India,2-7 Yrs
17,Data Analyst,Bangalore/Bengaluru,Alliances Galore,1-3 Yrs
18,Hiring For Data analyst- Bangalore,"Bangalore/ Bengaluru, Karnataka(4th Block Kora...",Shadowfax Technologies,2-5 Yrs

In [47]:
job_title

['Tech Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Celonis & Salesforce Data Analyst',
 'Celonis & Salesforce Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst (Bangalore)',
 'Insight Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Hiring For Data analyst- Bangalore',
 'Tech Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Celonis & Salesforce Data Analyst',
 'Celonis & Salesforce Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst']

In [48]:
job_location

['Hybrid - Gurgaon/ Gurugram, Haryana, Bangalore/ Bengaluru, Karnataka',
 'Bangalore/ Bengaluru, Karnataka',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hybrid - Bangalore/Bengaluru',
 'Hybrid - Bangalore/Bengaluru, Delhi / NCR',
 'Hybrid - Bangalore/Bengaluru, Delhi / NCR',
 'Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Noida, Uttar Pradesh, Bangalore/ Bengaluru, Karnataka, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/ Bengaluru, Karnataka(4th Block Koramangala)',
 'Hybrid - Gurgaon/ Gurugram, Haryana, Bangalore/ Bengaluru, Karnataka',
 'Bangalore/ Bengaluru, Karnataka',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hybrid - Bangalore/Bengaluru',
 'Hybrid - Bangalore/Bengaluru, Delhi / NCR',
 'Hybrid - Bangalore/Bengaluru, Delhi / NCR',
 'Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR']

In [50]:
company_name

['Wipro',
 'Artech',
 'Brunel',
 'Hitachi Energy',
 'Hitachi Ltd.',
 'HARMAN',
 'Aon',
 'Aon',
 'Tata Consultancy Services (TCS)',
 'Krazy Mantra',
 'Vuca Consulting',
 'The Times Group',
 'Koch Industries',
 'Loyalytics Consulting',
 'Clairvoyant India Pvt. Ltd',
 'Lowes Services India Private limited',
 'Aventus Technology India',
 'Alliances Galore',
 'Shadowfax Technologies',
 'Wipro',
 'Artech',
 'Brunel',
 'Hitachi Energy',
 'Hitachi Ltd.',
 'HARMAN',
 'Aon',
 'Aon',
 'Tata Consultancy Services (TCS)']

In [55]:
experience_required

['3-6 Yrs',
 '5-8 Yrs',
 '4-6 Yrs',
 '3-6 Yrs',
 '2-7 Yrs',
 '3-5 Yrs',
 '6-9 Yrs',
 '6-9 Yrs',
 '5-10 Yrs',
 '7-12 Yrs',
 '5-10 Yrs',
 '3-8 Yrs',
 '7-9 Yrs',
 '4-9 Yrs',
 '3-6 Yrs',
 '3-5 Yrs',
 '2-7 Yrs',
 '1-3 Yrs',
 '2-5 Yrs',
 '3-6 Yrs',
 '5-8 Yrs',
 '4-6 Yrs',
 '3-6 Yrs',
 '2-7 Yrs',
 '3-5 Yrs',
 '6-9 Yrs',
 '6-9 Yrs',
 '5-10 Yrs']